<h2>Super Hero Form</h2>
<%= form_for @super_power do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>
    <%= f.label :name, "Already Exists?" %>
    <%= f.text_field :name %><br>
    <%= f.submit %>

    <% end %>